<!DOCTYPE html>
<html>

<head>
    <link href="styles/main.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="scripts/script.js"></script>
</head>

<body ng-app="myApp" id="bod">
    <nav class="navbar" id="navigator">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="http://pre03.deviantart.net/7f89/th/pre/i/2015/147/7/c/pikachu_by_mqken-d8v0sq7.png" alt="Pokemon Font" class="logo"></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <input type="text" class="form-control" placeholder="Search" id="search" class='search' value=''>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <!--This is the foreach i am trying to use-->



        <!-- This was a for loop example i thought might work -->


    </div>

    <table class="table table-hover" id="landing_table">
        <thead>
            <tr>
                <th class="title">#</th>
                <th class="title">Sprite</th>
                <th class="title">Name</th>
                <th class="title">Type</th>
            </tr>
        </thead>
        <tbody id="tableRows">
            <% for(var i=0; i < monArr.length; i++) { %>
                <tr id="poke<%= monArr[i].id %>" class="monster" onclick="location.href='monster/<%= monArr[i].id %>'">
                    <td class="number">
                        <p class="monNum"><%= monArr[i].number %></p>
                    </td>
                    <td class = "parent"><img class = "monImg child" src="images/sprites/<%= monArr[i].id %>.gif"></td>
                    <td class="name">
                        <p id = "<%= monArr[i].name %>" class = "monName"><%= monArr[i].name %></p>
                    </td>
                    <td>
                        <div class="type type1 <%= monArr[i].type1%>">
                            <%= monArr[i].type1%>
                        </div>
                        <div class="type type2 <%= monArr[i].type2 %>">
                            <%= monArr[i].type2 %>
                        </div>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>


    <section ng-controller="mainController">
        <article ng-view>

        </article>
    </section>

    <script src="scripts/myscript.js"></script>

</body>

</html>